@import url(https://fonts.googleapis.com/css?family=Homemade+Apple);
$letter-script: 'Homemade Apply', serif;

@import url(https://fonts.googleapis.com/css?family=Fondamento);
$bold-script: 'Fondamento', serif;

@import url(https://fonts.googleapis.com/css?family=Quintessential);
$normal-script: 'Quintessential', serif;

